#arjsDebugUIContainer{
    visibility: hidden;
}
.a-enter-vr-button{
    visibility: hidden;
}

.a-canvas{
    max-height: 80% !important;
    max-width: 80% !important;
    position: relative;
    display: block;
    margin: 0 auto;
}