#arjsDebugUIContainer{
    visibility: hidden;
}
.a-enter-vr-button{
    visibility: hidden;
}

.a-canvas{
    max-height: 80% !important;
    max-width: 80% !important;
    display: flex !important;
  justify-content: center !important;
}

