@media screen and (orientation: landscape) {
  html {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    overflow-x: hidden;
    position: absolute;
    background-color: black;
    z-index: 1;
    left: 0;
  }

  body{
    align-content: center;
    align-items: center;
    overflow: hidden !important;
  }

  .body{
    visibility: hidden !important;
    overflow: hidden !important;
    height: 0% !important;
    width: 0% !important;
  }

  .landscape{
    visibility: visible;
    position: fixed;
    bottom: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content:space-around;
    align-items:center;
  }

  h1{
      font-weight: 600;
      font-size: 5vw !important;
  }

  video{
    visibility: hidden;
  }

  .a-canvas{
    visibility: hidden;
  }

  .header-content{
    visibility: hidden;
  }

  a-scene{
    visibility: hidden !important;
    height: 0%;
    width: 0%;
  }

  .header{
    visibility: hidden !important;
    height: 0%;
    width: 0%;
  }
  
}


@font-face {
  font-family: "HalvarStnclMittel-BdMidG";
  src: local("HalvarStnclMittel-BdMidG"),
  url("/fonts/Halvar/HalvarStnclMittel-BdMidG.ttf");
}

@font-face {
  font-family: "HalvarStnclMittel-BdMinG";
  src: local("HalvarStnclMittel-BdMinG"),
  url("/fonts/Halvar/HalvarStnclMittel-BdMinG.ttf");
}


.font-face-halvar{
  font-family:"HalvarStnclMittel-BdMidG";
  font-size: 40px;;
}

.font-face-halvar-ming{
  font-family:"HalvarStnclMittel-BdMinG";
  font-size: 30px;
}

@font-face {
  font-family: "HalvarStnclMittel-LtMinG";
  src: local("HalvarStnclMittel-LtMinG"),
  url("/fonts/Halvar/HalvarStnclMittel-LtMinG.ttf");
}


.font-face-halvar-regular{
  font-family:"HalvarStnclMittel-LtMinG";
  font-size: 40px;;
}


@font-face {
  font-family: "Antonio";
  src: local("Antonio"),
  url("/src/fonts/Antonio/Antonio-Light.ttf");
}

.font-face-antonio{
  font-family:"Antonio";
}


@media screen and (orientation: portrait) {

  .landscape{
    visibility: hidden;
    margin: auto;
    height: 0%;
    width: 0%;
  }

  .a-enter-vr-button{
    visibility: hidden;
  }

  
video{  
    height: 90%  !important;
    top: 10% !important;
}

.body{
  height: 90vh !important;
  overflow: hidden !important;
}

  body{
    overflow: hidden !important;
  }

.header {
    position: relative;
    bottom: 0;
    left: 0;
    height: 12vh;
    width: auto;
    display: flex;
    justify-content:space-around;
    align-items:center;
    background-color: #f56942;
    z-index: 1;
    margin-top: -30px;
}

.header-content{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}

.back-button {
    padding: 0.1em;
    border-radius: 10px;
    border: none;
    background: black;
    color: #fff7e3;
    width: 16vw;
    height: 4.2vh;
}



a, a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

h1 {
   color: black;
   font-family: 'PT Sans', sans-serif;
   font-weight: 200;
}

.rotate {
  position: relative;
  top: 20vh;
  animation: rotation 8s infinite linear;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
  border: 2px solid black;
}
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.loading-text{
  position: relative;
  display: flex;
  top: 20vh;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.gif{
  position: relative;
  top: 23vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 9vh;
  display: block;
  height: 10vh;
}

.gif-ios{
  padding-top: 7vh !important; 
}

.gif-text{
  position: relative;
  display: flex;
  margin-top: 20vh;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}


.banner{
  visibility: hidden;
  position:fixed;
  left: 50%;
  top: 75vh;
  height: 25vh;
  width: 100vw;
  transform: translate(-50%);
}


.collapsible {
  position: absolute;
  background-color: #f56942;
  color: black;
  cursor: pointer;
  padding: 2.7vh;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 3.5vh;
  margin-top: auto;
  bottom: 0px;
  padding-bottom: 12vh;
}


.content {
  position: absolute;
  border-radius: 20px;
  width: 94vw;
  bottom: 7vh;
  padding-left: 5vw;
  padding-right: 1vw;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f9f8f3;
  padding-bottom: 10vh;

}

.collapsible-ios {
  padding-bottom: 18vh;
}


.content-ios{
  padding-bottom: 17vh;

}

.collapsible:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
}