
@font-face {
  font-family: "FuturaBoldItalic";
  src: local("FuturaBoldItalic"),
  url("/src/fonts/Futura/FuturaBoldItalicfont.ttf");
}

@font-face {
  font-family: "FuturaBook";
  src: local("FuturaBook"),
  url("/src/fonts/Futura/FuturaBookfont.ttf");
}

@font-face {
  font-family: "HalvarStnclMittel-BdMidG";
  src: local("HalvarStnclMittel-BdMidG"),
  url("/src/fonts/Halvar/HalvarStnclMittel-BdMidG.ttf");
}

@font-face {
  font-family: "HalvarStnclMittel-BdMinG";
  src: local("HalvarStnclMittel-BdMinG"),
  url("/src/fonts/Halvar/HalvarStnclMittel-BdMinG.ttf");
}

@font-face {
  font-family: "HalvarStnclMittel-LtMinG";
  src: local("HalvarStnclMittel-LtMinG"),
  url("/src/fonts/Halvar/HalvarStnclMittel-LtMinG.ttf");
}

@font-face {
  font-family: "Antonio";
  src: local("Antonio"),
  url("/src/fonts/Antonio/Antonio-Light.ttf");
}

.font-face-antonio{
  font-family:"Antonio";
}

.font-face-halvar-regular{
  font-family:"HalvarStnclMittel-LtMinG";
  font-size: 25px;;
}

.font-face-fbi{
  font-family:"FuturaBoldItalic";
}

.font-face-fbk{
  font-family:"FuturaBook" !important;
}

.font-face-halvar{
  font-family:"HalvarStnclMittel-BdMidG";
  font-size:xxx-large;
}

.font-face-halvar-ming{
  font-family:"HalvarStnclMittel-BdMinG";
  font-size: xx-large;
}

.background-img {
    opacity: 0.6;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 10vh;
    height: 90vh;
    object-fit: cover;
    background-attachment: initial;
    z-index: 0;
  }

.content{
  position:relative;
  /* margin-top: -100vh; */
  top: 0px;
  padding-bottom: 10vh;
  /* padding-top: 10vh; */
}

.food-category{
  margin-left: 4vw;
  margin-right: 4vw;
  box-shadow: -3px 10px 14px  rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
}

p{
  color: rgba(0, 0, 0, 1);
}

.header{
  top: 0;
  height: 10vh;
  width: 100vw;
  position: sticky;
  display: block;
  background-color: white;
  /* background-color: rgb(143	, 171, 162, 1); */
  z-index: 100;
  align-items: center;
  overflow: hidden;
}

.logo{
  height: 10vh;
  width: auto;
  margin: -2.5vh 50%;
  transform: translate(-50%, 25%);
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.background{
  position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    overflow: scroll;
    width: 100vw;
    height: 100%;
    background-image: url(../../background/background-vivo.jpg);
    background-position: 50% 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background-fade{
  background-color:rgba(228, 227, 210, 0.45);
  position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    overflow: scroll;
    width: 100vw;
    height: 100%;
}